# Docker
nginx-proxy/data/
nginx-proxy/letsencrypt/
mysql_data/

# Laravel
backend/vendor/
backend/.env
backend/storage/*.key
backend/public/storage

# React
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Varios
.DS_Store
.env